/* STICKY FOOTER */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}

/* HEADER */
/* match is-dark theme for navbar-burger bc bulma doesn't by default */
@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: hsl(0, 0%, 21%);
    }
    .navbar-item {
        color: whitesmoke;
        text-align: center;
    }
    a.navbar-item:hover {
        background-color: #292929;
        color: whitesmoke;
    }
    .navbar-burger:hover {
        background-color: #292929;
    }
}

/* ERRORS */
.message.is-error .message-header {
    background-color: rgb(171, 36, 36);
}
.message.is-error .message-body {
    background-color: rgb(237, 237, 237);
}

/* FOOTER */
.footer {
    padding: 1.5rem 1.5rem 1.5rem;
    line-height: 1;
}
