{% extends "base.html" %}

{% block main %}


{% with fl_err_msgs = get_flashed_messages(category_filter=["error"]) %}
{% if fl_err_msgs %}
<section class="section" id="flashes">
    <div class="container is-centered">
        {% for err_msg in fl_err_msgs %}
        <article class="message is-error">
            <div class="message-header">
                <p>Error</p>
                <button class="delete" onclick="toggleMessage(event)"></button>
            </div>
            <div class="message-body">
                {{ err_msg|safe }}
            </div>
        </article>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endwith %}

<section class="section">
    <div class="split-half">
        <div id="div-charity">

            {% with header="Charity", btn_list=["Oceans", "Turtles", "Trees", "Poverty"] %}
            {% include "options.html" %}
            {% endwith %}

        </div>
        <div id="div-flavor">

            {% with header="Flavors", btn_list=["Blueberry Pomegranete", "Peach Mango", "Kiwi Lime", "Vanilla"] %}
            {% include "options.html" %}
            {% endwith %}

        </div>
    </div>
</section>



{% endblock main %}